<!DOCTYPE html >
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<form th:action="@{/register}" method="post" th:object="${nguoiDung}">
		<div class="form-group">
			<input th:field="*{email}" type="email" autofocus="true" required="required" placeholder="Email">
			<div th:each="error: ${EmailErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input th:field="*{password}" type="password" required="required" placeholder="Password">
			<div th:each="error: ${PasswordErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input type="password" required="required" placeholder="Retype password" name="repassword" id="repassword">
			<div th:each="error: ${ConfirmPassErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input type="text" th:field="*{hoTen}" required="required" placeholder="Họ và tên">
			<div th:each="error: ${UserNameErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input type="number" th:field="*{soDienThoai}" required="required" placeholder="Số điện thoại">
			<div th:each="error: ${PhoneErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input type="text" th:field="*{diaChi}" required="required" placeholder="Địa chỉ">
			<div th:each="error: ${AddressErrors}">
				<p th:text="${error}" style="color:red;"></p>
			</div>
		</div>
		
		<div class="form-group">
			<input id="submit" type="submit" value="ĐĂNG KÝ">
		</div>
		
		<p class="message" style="font-size: 18; padding-top:10px"> Đã có tài khoản? <a href="<c:url value='/login'/> ">Đăng nhập</a></p>

	</form>

</body>
</html>