<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	
	<th:block th:replace="Client/Include/header :: commonCSS"></th:block>
</head>
<body>

	<div th:replace="Client/Include/header :: header"></div>
	
	<div th:if="${hasError}">
		<div th:each="error : ${errors}">
			<h1 style="color: red" th:text="${error}"></h1>
		</div>
	</div>
	<div th:unless="${hasError}">
		
		<div class= "container">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
				<br>
				<p><b>QUÝ KHÁCH ĐÃ ĐẶT HÀNG THÀNH CÔNG</b></p><br>
				
				<p> Thông tin đơn hàng đã đặt :</p><br>
				<p><b>ID/Mã đơn hàng: </b> <span th:text="${donHang.id}"></span></p><br>
				<p><b>Họ tên người nhận hàng: </b> <span th:text="${donHang.hoTenNguoiNhan}"></span></p><br>
				<p><b>Số điện thoại: </b><span th:text="${donHang.sdtNhanHang}"></span></p><br>
				<p><b>Địa chỉ: </b><span th:text="${donHang.diaChiNhan}"></span></p><br>
				<p><b>Ghi chú: </b><span th:text="${donHang.ghiChu}"></span></p><br>
				<p><b>Thời gian đặt:</b><span th:text="${donHang.ngayDatHang}"></span></p>
				
				<table class="table-cart-checkout mytable">
					 <tr>
						    <th>Ảnh</th>
						    <th>Tên sản phẩm</th>
						    <th>Đơn giá</th>
						    <th>Tổng</th>
					</tr>
					<div th:each="chiTietDonHang,iterStatus:${chiTietDonHangList}">
				
						 <tr style="text-align: center;">
							    <td>
							    	<!-- chua xu ly anh don hang -->
							    	<img src="" alt="not found img" class="img-reponsive fix-size-img">
							    </td>
							    <td style="color:green" th:text="${sanPhamList[iterStatus.index].tenSanPham}"></td>
							    
							    <td class="donGia" >
							    	<div class="check " style ="display: inline-block; " th:text="${sanPhamList[iterStatus.index].donGia}"></div> 
							    	<div style="display: inline-block; "> x <span th:text="${chiTietDonHang.soLuongDat}"></span></div>
							    </td>
							    
							    <td>
							    	<div class="total" th:text="${chiTietDonHang.donGia}"></div> 
							    </td>
						</tr>
					</div>
					
			</table>
				
				<br>
				<p>Tổng giá trị đơn hàng:<b id="ordertotal"> </b></p>
				<br>
				<p>LaptopShop xin chân thành cảm ơn quý khách hàng đã tin tưởng sử dụng dịch vụ, sản phẩm của chúng tôi</p><br>
				<a th:href="@{/home}">Nhấn vào đây để tiếp tục mua sắm</a>
				</div>
				<div class="col-md-1">
				</div>
			
			
			
			</div>
	
	
		</div>
		
	</div>
	
	<div th:replace="Client/Include/footer :: footer"></div>
	
	<script th:src="@{js/checkout.js}"></script>
	
</body>
</html>