<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="danhMuc">

		<div class="content-sidebar">
		  		<h4>Danh mục</h4>
				<ul id="danhmuc">
					
					<div th:each="danhMuc:${danhMucList}">	
						<li><a th:href="@{/danhMuc(danhMuc=${danhMuc.tenDanhMuc})}"><span style=" font-size: 16px; font-weight: 900; " th:text="${danhMuc.tenDanhMuc}"></span></a></li>
					</div>	
				</ul>
		</div>

	</div>
	
</body>
</html>