<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	
</head>
<body>
	

	<!----start-Header---->
	<div class="header" th:fragment="header">
		<link rel="stylesheet" href="css/modal.css">
		
	
		<div class="search-bar">
			<form th:action="@{/simpleSearch}">
				<input type="text" name="tenSanPham"><input type="submit" value="Search">
			</form>
		</div>
		<div class="clear"></div>

		<div class="header-top-nav ">
			

			
				<ul>
					<li><a th:href="@{/register}">Đăng kí</a></li>
					<li th:unless="${loggedUser}"><a th:href="@{/login}" >Đăng nhập</a></li>
					<li><a th:href="@{/gio-hang}"> <span>Giỏ hàng&nbsp;&nbsp;&nbsp;</span></a><span class="glyphicon glyphicon-shopping-cart"></span></li>
					<li th:if="${loggedUser}"><a th:href="@{/logout}" >Đăng xuất</a></li>
					<li th:if="${loggedUser}"><a th:href="@{/profile}" >Tài khoản</a></li>

				</ul>
			
		</div>
		
		<div class="top-header">
			<div class="wrap">
				<div class="logo">
					<!-- chua thiet ke logo -->
					<a th:href="@{/}"><img src="" title="logo"></a>
				</div>
				<div class="top-nav">
					<ul>
						<li><a th:href="@{/home}">Trang chủ</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		
	</div>

	
</body>
</html>