<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="profileContent">
		
			<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10">
						<br>
						<p style="font-size: 20px">
							<b>Thông tin tài khoản:</b>
						</p>
						<br>
						<h3 style="line-height: 2;">
							<span style="font-weight: bold">Họ tên </span> <span th:text="${loggedUser.hoTen}"></span></h3>
						<h3 style="line-height: 2;">
							<span style="font-weight: bold">Số điện thoại: </span> <span th:text="${loggedUser.soDienThoai}"></span></h3>
						<h3 style="line-height: 2;">
							<span style="font-weight: bold">Email:</span> <span th:text="${loggedUser.email}"></span></h3>
						<h3 style="line-height: 2;">
							<span style="font-weight: bold"> Địa chỉ: </span> <span th:text="${loggedUser.email}"></span></h3>
						<br> 
						<button class="btn btn-primary" data-modal-target="modal-information">Cập nhật thông tin cá nhân</button>

						<button class="btn btn-danger" data-modal-target="modal-password">Đổi mật khẩu</button> <br> <br>
						<br>
						<h3>
							<b>Lịch sử mua hàng:</b>
						</h3>
						<br>
						<table class="table-cart-checkout mytable">
							<tr>
								<th>Mã đơn hàng</th>
								<th>Ngày mua</th>
								<th>Ngày giao hàng</th>
								<th>Ngày nhận hàng</th>
								<th>Sản phẩm</th>
								<th>Tổng tiền</th>
								<th>Trạng thái đơn hàng</th>
							</tr>
		
							<div th:each="donHang,iterStatus:${donHangList}">
								<tr style="text-align: center;" th:onclick="'OrderDetail('+${donHang.id}+')'">
									<a hidden th:href="@{/detailOrder(orderId=${donHang.id})}" th:id="'detailOrder'+${donHang.id}"></a>
									<td th:text="${donHang.id}"></td>
									<td th:text="${donHang.ngayDatHang}"></td>
		
									<td th:text="${donHang.ngayGiaoHang}"></td>
		
									<td th:text="${donHang.ngayNhanHang}"></td>
		
									<td>
										<div th:each="chiTietDonHang:${donHang.danhSachChiTiet}">
												<p>
													<a th:href="@{/sp(id=${chiTietDonHang.sanPham.id})}" th:text="${chiTietDonHang.sanPham.tenSanPham}"></a><br>
												</p>

										</div>
									</td>
		
									<td class="tongGiaTri" th:text="${orderTotalList[iterStatus.index]}"></td>
									<td th:text="${donHang.trangThaiDonHang}"></td>
								</tr>
							</div>
						</table>
						
						<div class="pagination" th:unless="${currentPage==1}">
							<a th:href="@{/profile(currentPage=${currentPage}-1)}">Back</a>
						</div>

						
						<div class="pagination" th:each="page:${pageList}">
							<a th:href="@{/profile(currentPage=${page})}" th:text="${page}"></a>
						</div>
						
						<div class="pagination" th:unless="${currentPage==totalPage}">
							<a th:href="@{/profile(currentPage=${currentPage}+1)}" >Next</a>
						</div>
		
					</div>
				<div class="col-md-1"></div>
			</div>
		</div>
		
		<!-- modal cap nhat thong tin tai khoan -->
		
		<div id="modal-information" class="modal">
			<div class="modal-header">
				<h5 class="modal-title">
					<b>Cập nhật thông tin tài khoản</b>
				</h5>
				<button type="button" class="modal-close-button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
	
			<div class="modal-body">
				<div class="form-group ">
					<label style="line-height: 2">Họ tên khách hàng*:</label><br>
					<label id="nameWarning" style="color: red"></label> 
					<input
						class="form-control" id="name" name="name" type="text"
						th:value="${loggedUser.hoTen}">
				</div>
				<div class="form-group ">
					<label style="line-height: 2">Số điện thoại*:</label><br> 
					<label id="phoneWarning" style="color: red"></label> 
					<input
						class="form-control" id="phone" name="phone" type="text"
						th:value="${loggedUser.soDienThoai}">
				</div>
				<div class="form-group">
					<label style="line-height: 2">Địa chỉ*:</label><br> 
					<label id="addressWarning" style="color: red"></label>
					<textarea rows="3" cols="1" class="form-control" id="address" th:text="${loggedUser.diaChi}"></textarea>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="changeInformation()">Cập nhật</button>
			</div>
			
		</div>
		
		<!-- Modal thay doi password -->
		<div class="modal" id="modal-password">
		
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<b>Thay đổi mật khẩu</b>
					</h5>
					<button type="button" class="modal-close-button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group ">
						<label style="line-height: 2">Mật khẩu cũ*:</label><br> 
						<label id="oldWarning" style="color: red"></label>
						<input class="form-control" id="old-password" name="old-password" type="password">
					</div>
					<div class="form-group ">
						<label style="line-height: 2">Mật khẩu mới*:</label><br> 
						<label id="new1Warning" style="color: red"></label>
						<input class="form-control" id="new-password" name="new-password" type="password">
					</div>
					<div class="form-group ">
						<label style="line-height: 2">Xác nhận lại mật khẩu mới*:</label><br>
						<label id="new2Warning" style="color: red"></label> 
						<input class="form-control" id="re-new-password" name="re-new-password" type="password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onClick="changePass()">Đổi mật khẩu</button>
				</div>
			</div>
			
		</div>		
		
		<div id="overlay"></div>
		
		
		
		<script>
			function OrderDetail(orderID){
				let a=document.getElementById("detailOrder"+orderID);
			  a.click();
			}
		</script>
		
		<script src="/js/updateProfile.js"></script>
		<script src="/js/updatePassword.js"></script>
		
	</div>
	
</body>
</html>