<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="quanLyDonHangContent">
	
		<div class="col-md-9 animated bounce">
			<h3 class="page-header form-inline">Quản lý Đơn hàng</h3>
	
			<form class="form-inline" id="searchForm" name="searchObject" th:action="@{/admin/don-hang}">
	
				<select class="form-control" id="trangThaiDonHang" name="trangThaiDonHang">
					<option value="Tất cả">Tất cả</option>
					<option value="Tất cả" th:if="${trangThaiDonHang=='Tất cả'}" selected>Tất cả</option>
					<option value="Đang chờ giao">Đang chờ giao</option>
					<option value="Đang chờ giao" th:if="${trangThaiDonHang=='Đang chờ giao'}" selected>Đang chờ giao</option>
					<option value="Đang giao">Đang giao</option>
					<option value="Đang giao" th:if="${trangThaiDonHang=='Đang giao'}" selected>Đang giao</option>
					<option value="Đang chờ phê duyệt">Đang chờ phê duyệt</option>
					<option value="Đang chờ phê duyệt" th:if="${trangThaiDonHang=='Đang chờ phê duyệt'}" selected>Đang chờ phê duyệt</option>
					<option value="Hoàn thành">Hoàn thành</option>
					<option value="Hoàn thành" th:if="${trangThaiDonHang=='Hoàn thành'}" selected>Hoàn thành</option>
					<option value="Đã bị hủy">Đã bị hủy</option>
					<option value="Đã bị hủy" th:if="${trangThaiDonHang=='Đã bị hủy'}" selected>Đã bị hủy</option>
					<!-- <option value="">Tất cả</option> -->
				</select>
	
				<div class="form-group">
					<input class="form-control" type="date" id="startDate" name="startDate" placeholder="Từ ngày" th:value="${startDate}">
				</div>
	
				<div class="form-group">
					<input class="form-control" type="date" id="endDate" name="endDate" placeholder="Đến ngày" th:value="${endDate}">
				</div>
				&nbsp;&nbsp; &nbsp;&nbsp;
				<th:block th:if="${trangThaiDonHang=='Tất cả' or trangThaiDonHang=='Đang chờ phê duyệt'}">
					<button type="button" class="btn btn-primary" id="btnDuyetDonHangAll">Duyệt toàn bộ</button>
				</th:block>
				
				
				<div class="form-group" style="float: right; margin-right: 20px">
					<input class="form-control" type="number" id="donHangID" name="donHangID" placeholder="Nhập mã để tìm nhanh"> 
					<span class="glyphicon glyphicon-search" aria-hidden="true" style="left: -30px; top: 4px"></span>
				</div>
				
				<input type="submit" name="loc" value="Lọc">
				
			</form>
	
			<hr />
			<table class="table table-hover donHangTable" style="text-align: center" >
				<thead>
					<tr>
						<th>Mã đơn hàng</th>
						<th>Người nhận</th>
						<th>Trạng thái</th>
						<th>Giá trị</th>
						<th>Ngày đặt</th>
						<th>Ngày giao</th>
						<th>Ngày nhận</th>
						<th>Mã shipper</th>
					</tr>
				</thead>
				<tbody th:each="donHang:${donHangList}">
					
					<tr th:id="${donHang.id}" class="donHangRow">
						<td th:text="${donHang.id}"></td>
						<td th:text="${donHang.hoTenNguoiNhan}"></td>
						<td th:text="${donHang.trangThaiDonHang}"></td>
						<td th:text="${donHang.tongGiaTri}"></td>
						<td th:text="${donHang.ngayDatHang}"></td>
						<td th:text="${donHang.ngayGiaoHang}"></td>
						<td th:text="${donHang.ngayNhanHang}"></td>
						<td th:text="${donHang.shipper==null?'':donHang.shipper.id}"></td>
						<td>
							<button type="button" 
							th:if="${donHang.trangThaiDonHang!='Hoàn thành'} and ${donHang.trangThaiDonHang!='Đã bị hủy'}"
							th:data-donHangID="${donHang.id}"
							class="huyDonHangButton">Hủy</button>
							
							<button type="button" 
							data-modal-target="modal-chitietdonhang" 
							th:data-donhangID="${donHang.id}"
							th:data-trangThaiDonHang="${donHang.trangThaiDonHang}"
							onclick="showDonHangChitiet(this)">Chi tiết</button>
							
							<button type="button" th:if="${donHang.trangThaiDonHang=='Đang chờ phê duyệt'}" class="btnDuyetDonHang">Duyệt</button>
							
						</td>
					</tr>
					
					
					
				</tbody>
	
			</table>
	
		</div>
		
		
		<div class="my-modal" id="modal-chitietdonhang">
			<div class="modal-content">
				<div class="modal-header">
					<p>Mã đơn hàng:<span id="maDonHang"></span></p>
					<button type="button" class="modal-close-button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="card" style="padding-left: 40px;padding-right: 40px">

								<div class="row pb-5 p-5">
									<div class="col-md-6">
										<h5 class="font-weight-bold mb-4">
											<strong>Thông tin khách</strong>
										</h5>
										<p class="mb-1">Người nhận:<span id="hoTenNguoiNhan"></span></p>
										<p class="mb-1">Địa chỉ:<span id="diaChiNhan"></span></p>
										<p class="mb-1">SĐT:<span id="sdtNhanHang"></span></p>
									</div>

									<div class="col-md-6 text-right"
										style="text-align: left; padding-left: 100px">
										<h5 class="font-weight-bold mb-4">
											<strong>Thông tin đơn hàng</strong>
										</h5>
										<p class="mb-1">Trạng thái đơn:<span id="trangThaiDonHang"></span></p>
										<p class="mb-1">Ngày đặt hàng:<span id="ngayDatHang"></span></p>
										<p class="mb-1">Ngày giao hàng:<span id="ngayShipHang"></span></p>
										<p class="mb-1">Ngày nhận hàng:<span id="ngayNhanHang"></span></p>
										
									</div>
									
								</div>
								<hr />
								<div class="row p-5">
									<div class="col-md-12">
										<table class="chiTietDonHang"
											style="text-align: center;">
											<thead>
												<tr>
													<th
														class="border-0 text-uppercase small font-weight-bold">STT</th>
													<th
														class="border-0 text-uppercase small font-weight-bold">Tên
														sản phẩm</th>

													<th
														class="border-0 text-uppercase small font-weight-bold">Đơn
														giá</th>
													<th
														class="border-0 text-uppercase small font-weight-bold">Số
														lượng đặt</th>

												</tr>
											</thead>
											
											<tbody>
											</tbody>
											
										</table>
									</div>
								</div>

								<div>
									<div class="py-3 px-5 text-right">
										<div class="mb-2">
											<p >Tổng đơn hàng:<span id="orderTotal"></span></p>
										</div>
									</div>
								</div>
								<hr />

								<div class="col-md-6">
									<h5 class="font-weight-bold mb-4">
										<strong>Thông tin khác</strong>
									</h5>
									<p class="mb-1" >Người đặt:<span id="nguoiDat"></span></p>
									<p class="mb-1" >Shipper:<span id="shipper"></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="overlay"></div>
		
		
		<div th:replace="Admin/Include/pagination :: pagination"></div>
		
		<script th:src="@{/js/quanLyDonHang.js}"></script>
		
	</div>


		


</body>
</html>