<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="quanLyDonHangContent">
	
		<div class="col-md-9 animated bounce">
			<h3 class="page-header form-inline">Quản lý Đơn hàng</h3>
	
			<form class="form-inline" id="searchForm" name="searchObject" th:action="@{/admin/don-hang}">
	
				<select class="form-control" id="trangThaiDonHang" name="trangThaiDonHang" th:value="${trangThaiDonHang}">
					<option value="Tất cả">Tất cả</option>
					<option value="Đang chờ giao">Đang chờ giao</option>
					<option value="Đang giao">Đang giao</option>
					<option value="Đang chờ phê duyệt">Đang chờ phê duyệt</option>
					<option value="Hoàn thành">Hoàn thành</option>
					<option value="Đã bị hủy">Đã bị hủy</option>
					<!-- <option value="">Tất cả</option> -->
				</select>
	
				<div class="form-group">
					<input class="form-control" type="date" id="startDate" name="startDate" placeholder="Từ ngày" th:value="${startDate}">
				</div>
	
				<div class="form-group">
					<input class="form-control" type="date" id="endDate" name="endDate" placeholder="Đến ngày" th:value="${endDate}">
				</div>
				&nbsp;&nbsp; &nbsp;&nbsp;
				<button type="button" class="btn btn-primary" id="btnDuyetDonHang">Duyệt Đơn</button>
				
				<div class="form-group" style="float: right; margin-right: 20px">
					<input class="form-control" type="number" id="donHangID" name="donHangID" placeholder="Nhập mã để tìm nhanh"> 
					<span class="glyphicon glyphicon-search" aria-hidden="true" style="left: -30px; top: 4px"></span>
				</div>
				
				<input type="submit" name="loc" value="Lọc">
				
			</form>
	
			<hr />
			<table class="table table-hover donHangTable" style="text-align: center" >
				<thead>
					<tr>
						<th>Mã đơn hàng</th>
						<th>Người nhận</th>
						<th>Trạng thái</th>
						<th>Giá trị</th>
						<th>Ngày đặt</th>
						<th>Ngày giao</th>
						<th>Ngày nhận</th>
						<th>Mã shipper</th>
					</tr>
				</thead>
				<tbody th:each="donHang:${donHangList}">
					
					<tr>
						<td th:text="${donHang.id}"></td>
						<td th:text="${donHang.hoTenNguoiNhan}"></td>
						<td th:text="${donHang.trangThaiDonHang}"></td>
						<td th:text="${donHang.tongGiaTri}"></td>
						<td th:text="${donHang.ngayDatHang}"></td>
						<td th:text="${donHang.ngayGiaoHang}"></td>
						<td th:text="${donHang.ngayNhanHang}"></td>
						<td th:text="${donHang.shipper==null?'':donHang.shipper.id}"></td>
					</tr>
					
				</tbody>
	
			</table>
	
		</div>
<!-- 		<div class="row col-md-6"> -->
<!-- 			<form class="chiTietForm"> -->
<!-- 				<div class="modal fade" id="chiTietModal" tabindex="-1" role="dialog" -->
<!-- 					aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
<!-- 					<div class="modal-dialog" role="document" style="width: 700px;"> -->
<!-- 						<div class="modal-content"> -->
<!-- 							<div class="modal-header"> -->
<!-- 								<p class="h4 modal-title" id="maDonHang"></p> -->
<!-- 								<button type="button" class="close" data-dismiss="modal" -->
<!-- 									aria-label="Close"> -->
<!-- 									<span aria-hidden="true">&times;</span> -->
<!-- 								</button> -->
<!-- 							</div> -->
<!-- 							<div class="modal-body"> -->
<!-- 								<div class="row"> -->
<!-- 									<div class="col-12"> -->
<!-- 										<div class="card" style="padding-left: 40px;padding-right: 40px"> -->
	
<!-- 											<div class="row pb-5 p-5"> -->
<!-- 												<div class="col-md-6"> -->
<!-- 													<h5 class="font-weight-bold mb-4"> -->
<!-- 														<strong>Thông tin khách</strong> -->
<!-- 													</h5> -->
<!-- 													<p class="mb-1" id="hoTenNguoiNhan"></p> -->
<!-- 													<p class="mb-1" id="diaChiNhan"></p> -->
<!-- 													<p class="mb-1" id="sdtNhanHang"></p> -->
<!-- 												</div> -->
	
<!-- 												<div class="col-md-6 text-right" -->
<!-- 													style="text-align: left; padding-left: 100px"> -->
<!-- 													<h5 class="font-weight-bold mb-4"> -->
<!-- 														<strong>Thông tin đơn hàng</strong> -->
<!-- 													</h5> -->
<!-- 													<p class="mb-1" id="trangThaiDonHang"></p> -->
<!-- 													<p class="mb-1" id="ngayDatHang"></p> -->
<!-- 													<p class="mb-1" id="ngayShipHang"></p> -->
<!-- 													<p class="mb-1" id="ngayNhanHang"></p> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<hr /> -->
<!-- 											<div class="row p-5"> -->
<!-- 												<div class="col-md-12"> -->
<!-- 													<table class="table chiTietTable" -->
<!-- 														style="text-align: center;"> -->
<!-- 														<thead> -->
<!-- 															<tr> -->
<!-- 																<th -->
<!-- 																	class="border-0 text-uppercase small font-weight-bold">STT</th> -->
<!-- 																<th -->
<!-- 																	class="border-0 text-uppercase small font-weight-bold">Tên -->
<!-- 																	sản phẩm</th> -->
	
<!-- 																<th -->
<!-- 																	class="border-0 text-uppercase small font-weight-bold">Đơn -->
<!-- 																	giá</th> -->
<!-- 																<th -->
<!-- 																	class="border-0 text-uppercase small font-weight-bold">Số -->
<!-- 																	lượng đặt</th> -->
	
<!-- 															</tr> -->
<!-- 														</thead> -->
<!-- 														<tbody> -->
<!-- 														</tbody> -->
<!-- 													</table> -->
<!-- 												</div> -->
<!-- 											</div> -->
	
<!-- 											<div class="d-flex flex-row-reverse bg-dark text-white p-4"> -->
<!-- 												<div class="py-3 px-5 text-right"> -->
<!-- 													<div class="mb-2"> -->
<!-- 														<p id="tongTien"></p> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 											<hr /> -->
	
<!-- 											<div class="col-md-6"> -->
<!-- 												<h5 class="font-weight-bold mb-4"> -->
<!-- 													<strong>Thông tin khác</strong> -->
<!-- 												</h5> -->
<!-- 												<p class="mb-1" id="shipper"></p> -->
<!-- 												<p class="mb-1" id="nguoiDat"></p> -->
<!-- 												<p id="ghiChu"></p> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="modal-footer"> -->
<!-- 								<button type="button" class="btn btn-secondary" -->
<!-- 									data-dismiss="modal">Đóng</button> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</form> -->
<!-- 		</div> -->
		
		
		<div th:replace="Admin/Include/pagination :: pagination"></div>
		
	</div>


		


</body>
</html>